* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  min-height: 100%;
  background: #3399cc;
  border: 20px solid #2a7fa9;
  color: white;
}

.ba-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 40px;
}

.ba-header {
  margin-bottom: 30px;
  display: flex;
}

.ba-weather-list {
  margin-bottom: 30px;
}

.ba-cities {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  border: 1.5px solid white;
}

.ba-cities li {
  border: 1.5px solid white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ba-cities:hover li {
  opacity: 0.5;
  transition: opacity 0.2s ease-in;
}

.ba-cities li:hover {
  opacity: 1;
}

.ba-weather-list {
  background: #fff;
}

/*--- block sizes ---*/

.ba-full {
  width: 100%;
}

.ba-half {
  width: 50%;
}

.ba-quarter {
  width: 25%;
}

@media screen and (max-width: 620px) {
  .ba-quarter {
    width: 50%;
  }

  h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 425px) {
  .ba-quarter,
  .ba-half {
    width: 100%;
  }
  h1 {
    font-size: 18px;
  }
}

/*--- block colors ---*/
.ba-basic {
  background: #3399cc;
}

.ba-turquoise {
  background: #33cccc;
}

.ba-purple {
  background: #996699;
}

.ba-dark-purple {
  background: #666699;
}

.ba-red {
  background: #c24747;
}

.ba-orange {
  background: #e2674a;
}

.ba-yellow {
  background: #ffcc66;
}

.ba-green {
  background: #339966;
}

.ba-light-green {
  background: #99cc99;
}

.ba-dark-green {
  background: #669999;
}

.ba-pink {
  background: #cc6699;
}

/*--- btn styles ---*/
.ba-additional {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.ba-additional:hover {
  opacity: 0.5;
}
.ba-additional:active {
  opacity: 1;
}

.ba-aside {
  display: inline-block;
  background: #fff;
  margin-bottom: 10px;
}
